spring:
  mail:
    host: "\${MAIL_HOST:}"
    port: "\${MAIL_PORT:587}"
    username: "\${MAIL_USERNAME:}"
    password: "\${MAIL_PASSWORD:}"
    properties:
      mail.smtp:
        auth: "\${MAIL_SMTP_AUTH:true}"
        starttls:
          enable: "\${MAIL_SMTP_STARTTLS:true}"
          required: "\${MAIL_SMTP_STARTTLS_REQUIRED:true}"

ingestion-flow-files:
  default:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_DEFAULT_MAX_CONCURRENT_PROCESSING_ROWS:10}"
  assessments:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_ASSESSMENTS_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  assessments-registry:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_ASSESSMENTS_REGISTRY_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  dp-installments:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_DP_INSTALLMENTS_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
    wf-await:
      max-waiting-minutes: 5
      retry-delays-ms: 1000
  dp-types:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_DP_TYPE_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  dp-type-orgs:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_DP_TYPE_ORG_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  organizations:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_ORGANIZATIONS_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  org-sil-services:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_ORG_SIL_SERVICES_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  payment-notifications:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_PAYMENT_NOTIFICATIONS_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  payments-reporting:
    legacy-feature-flags: "\${INGEST_FLOW_FILES_PAYMENTS_REPORTING_LEGACY_FEATURE_FLAGS:false}"
  receipts:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_RECEIPTS_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  send-notifications:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_SEND_NOTIFICATIONS_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"
  treasuries:
    max-concurrent-processing-rows: "\${INGESTION_FLOW_FILES_TREASURIES_MAX_CONCURRENT_PROCESSING_ROWS:\${ingestion-flow-files.default.max-concurrent-processing-rows}}"

export-flow-files:
  page-request-thresholds:
    warn: "\${EXPORT_FLOW_FILES_PAGE_REQUEST_THRESHOLDS_WARN: 100}"
    error: "\${EXPORT_FLOW_FILES_PAGE_REQUEST_THRESHOLDS_ERROR: 1000}"
  paid:
    filename-prefix: "\${EXPORT_PAID_FLOW_FILE_FILENAME_PREFIX:EXPORT_PAID}"
    page-size: "\${PAID_EXPORT_FLOW_FILE_SIZE_PAGE:10000}"
    relative-file-folder: "\${PAID_EXPORT_RELATIVE_FILE_FOLDER:export/paid}"
  receipts-archiving:
    filename-prefix: "\${EXPORT_RECEIPTS_ARCHIVING_FLOW_FILE_FILENAME_PREFIX:EXPORT_RECEIPTS_ARCHIVING}"
    page-size: "\${RECEIPTS_ARCHIVING_EXPORT_FLOW_FILE_SIZE_PAGE:10000}"
    relative-file-folder: "\${RECEIPTS_ARCHIVING_EXPORT_RELATIVE_FILE_FOLDER:export/receipts-archiving}"
  classifications:
    filename-prefix: "\${EXPORT_CLASSIFICATIONS_FLOW_FILE_FILENAME_PREFIX:EXPORT_CLASSIFICATIONS}"
    page-size: "\${CLASSIFICATIONS_EXPORT_FLOW_FILE_SIZE_PAGE:10000}"
    relative-file-folder: "\${CLASSIFICATIONS_EXPORT_RELATIVE_FILE_FOLDER:export/classifications}"

mail:
  sender-address: "\${MAIL_SENDER_ADDRESS:piattaforma-unitaria@noreply.com}"

folders:
  shared: "\${SHARED_FOLDER_ROOT:/shared}"
  tmp: "\${TMP_FOLDER:\${java.io.tmpdir}}"
  process-target-sub-folders:
    archive: "\${PROCESS_TARGET_SUB_FOLDER_ARCHIVE:archive}"
    errors: "\${PROCESS_TARGET_SUB_FOLDER_ERRORS:errors}"
  paths:
    rt-folder: "data/rt"
    send-file-folder: "data/send"

cipher:
  file-encrypt-psw: "\${FILE_ENCRYPT_PSW:psw}"

csv:
  separator: "\${CSV_SEPARATOR_CHAR:;}"
  quote-char: "\${CSV_QUOTE_CHAR:\\\"}"

zip-file:
  max-entries: "\${ZIP_MAX_ENTRIES:1000}"
  max-uncompressed-size: "\${ZIP_MAX_UNCOMPRESSED_SIZE:52428800}" # 50MB
  max-compression-ratio: "\${ZIP_MAX_COMPRESSION_RATIO:100}" # Allowing file having at most a compression ratio 100:1

rest:
  defaults:
    connection-pool:
      size: "\${DEFAULT_REST_CONNECTION_POOL_SIZE:20}"
      size-per-route: "\${DEFAULT_REST_CONNECTION_POOL_SIZE_PER_ROUTE:5}"
      time-to-live-minutes: "\${DEFAULT_REST_CONNECTION_POOL_TIME_TO_LIVE_MINUTES:10}"
    timeout:
      connect-millis: "\${DEFAULT_REST_TIMEOUT_CONNECT_MILLIS:120000}"
      read-millis: "\${DEFAULT_REST_TIMEOUT_READ_MILLIS:301000}" # it should be greater or equal to ingestion-flow-files.dp-installments.wf-await.max-waiting-minutes

  auth:
    base-url: "\${AUTH_BASE_URL:http://localhost:8080/auth}"
    max-attempts: "\${AUTH_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${AUTH_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${AUTH_PRINT_BODY_WHEN_ERROR:true}"
    post-token:
      client_secret: "\${AUTH_CLIENT_SECRET:clientsecret}"

  io-notification:
    base-url: "\${IO_NOTIFICATION_BASE_URL:http://localhost:8080/ionotification}"
    max-attempts: "\${IO_NOTIFICATION_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${IO_NOTIFICATION_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${IO_NOTIFICATION_PRINT_BODY_WHEN_ERROR:true}"

  organization:
    base-url: "\${ORGANIZATION_BASE_URL:http://localhost:8080/organization}"
    max-attempts: "\${ORGANIZATION_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${ORGANIZATION_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${ORGANIZATION_PRINT_BODY_WHEN_ERROR:true}"

  debt-position:
    base-url: "\${DEBT_POSITION_BASE_URL:http://localhost:8080/debtposition}"
    max-attempts: "\${DEBT_POSITION_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${DEBT_POSITION_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${DEBT_POSITION_PRINT_BODY_WHEN_ERROR:true}"

  classification:
    base-url: "\${CLASSIFICATION_BASE_URL:http://localhost:8080/classification}"
    max-attempts: "\${CLASSIFICATION_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${CLASSIFICATION_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${CLASSIFICATION_PRINT_BODY_WHEN_ERROR:true}"

  pagopa-payments:
    base-url: "\${PAGOPA_PAYMENTS_BASE_URL:http://localhost:8080}"
    max-attempts: "\${PAGOPA_PAYMENTS_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${PAGOPA_PAYMENTS_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${PAGOPA_PAYMENTS_PRINT_BODY_WHEN_ERROR:true}"

  process-executions:
    base-url: "\${PROCESS_EXECUTIONS_BASE_URL:http://localhost:8080}"
    max-attempts: "\${PROCESS_EXECUTIONS_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${PROCESS_EXECUTIONS_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${PROCESS_EXECUTIONS_PRINT_BODY_WHEN_ERROR:true}"

  send-notification:
    base-url: "\${SEND_NOTIFICATION_BASE_URL:http://localhost:8080}"
    max-attempts: "\${SEND_NOTIFICATION_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${SEND_NOTIFICATION_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${SEND_NOTIFICATION_PRINT_BODY_WHEN_ERROR:true}"

  workflow-hub:
    base-url: "\${WORKFLOW_HUB_BASE_URL:http://localhost:8080}/workflowhub"
    max-attempts: "\${WORKFLOW_HUB_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${WORKFLOW_HUB_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${WORKFLOW_HUB_PRINT_BODY_WHEN_ERROR:true}"

  pu-sil:
    base-url: "\${PU_SIL_BASE_URL:http://localhost:8080/pusil}"
    max-attempts: "\${PU_SIL_MAX_ATTEMPTS:3}" # It's counting also the first attempt
    wait-time-millis: "\${PU_SIL_WAIT_TIME_MILLIS:500}"
    print-body-when-error: "\${PU_SIL_PRINT_BODY_WHEN_ERROR:true}"

query-limits:
  default:
    size: "\${DEFAULT_PAGE_SIZE:1000}"
  debt-positions:
    size: "\${DEBT_POSITIONS_PAGE_SIZE:\${query-limits.default.size}}"
